# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [3]:
variable_one = 64
variable_two = 64
print("variable one:{} id:{}".format(variable_one, id(variable_one)))
print("variable two:{} id:{}".format(variable_two, id(variable_two)))
print("ids are equal = {}".format(id(variable_one) == id(variable_two)))

variable one:64 id:134663236323536
variable two:64 id:134663236323536
id are equal = True

змінні рівні за значенням й за об'єктом в пам'яті

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [9]:
print(type(True))
print(type(256))
variable_true = True
variavle_int = 256
print(type(variable_true))
print(type(variavle_int))

<class 'bool'>
<class 'int'>
<class 'bool'>
<class 'int'>

за допомогою функції type()

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [14]:
arithm_var_int1 = 100
arithm_var_int2 = 2

arithm_var_float1 = 10.1
arithm_var_float2 = 2.5

print("int and int")
res = arithm_var_int1 + arithm_var_int2
print(res)
res = arithm_var_int1 - arithm_var_int2
print(res)
res = arithm_var_int1 / arithm_var_int2
print(res)
res = arithm_var_int1 * arithm_var_int2
print(res)
res = arithm_var_int1 // arithm_var_int2
print(res)
res = arithm_var_int1 % arithm_var_int2
print(res)
res = arithm_var_int1 ** arithm_var_int2
print(res)

print("\n\nfloat and int")
res = arithm_var_float1 + arithm_var_int2
print(res)
res = arithm_var_float1 - arithm_var_int2
print(res)
res = arithm_var_float1 / arithm_var_int2
print(res)
res = arithm_var_float1 * arithm_var_int2
print(res)
res = arithm_var_float1 // arithm_var_int2
print(res)
res = arithm_var_float1 % arithm_var_int2
print(res)
res = arithm_var_float1 ** arithm_var_int2
print(res)

print("\n\nint and float")
res = arithm_var_int1 + arithm_var_float2
print(res)
res = arithm_var_int1 - arithm_var_float2
print(res)
res = arithm_var_int1 / arithm_var_float2
print(res)
res = arithm_var_int1 * arithm_var_float2
print(res)
res = arithm_var_int1 // arithm_var_float2
print(res)
res = arithm_var_int1 % arithm_var_float2
print(res)
res = arithm_var_int1 ** arithm_var_float2
print(res)

print("\n\nfloat and float")
res = arithm_var_float1 + arithm_var_float2
print(res)
res = arithm_var_float1 - arithm_var_float2
print(res)
res = arithm_var_float1 / arithm_var_float2
print(res)
res = arithm_var_float1 * arithm_var_float2
print(res)
res = arithm_var_float1 // arithm_var_float2
print(res)
res = arithm_var_float1 % arithm_var_float2
print(res)
res = arithm_var_float1 ** arithm_var_float2
print(res)

int and int
102
98
50.0
200
50
0
10000


float and int
12.1
8.1
5.05
20.2
5.0
0.09999999999999964
102.00999999999999


int and float
102.5
97.5
40.0
250.0
40.0
0.0
100000.0


float and float
12.6
7.6
4.04
25.25
4.0
0.09999999999999964
324.19285157140644

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [24]:
casted_int = int(arithm_var_float1)

was = arithm_var_float1
become = casted_int
print("was {} {} become {} {}".format(type(was), was, type(become), become))

bool_variable_true = True
bool_variable_false = False

int_casted_variable_true = int(bool_variable_true)
int_casted_variable_false = int(bool_variable_false)

was = bool_variable_true
become = int_casted_variable_true
print("was {} {} become {} {}".format(type(was), was, type(become), become))

was = bool_variable_false
become = int_casted_variable_false
print("was {} {} become {} {}".format(type(was), was, type(become), become))

was <class 'float'> 10.1 become <class 'int'> 10
was <class 'bool'> True become <class 'int'> 1
was <class 'bool'> False become <class 'int'> 0

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [27]:
string_var1 = ""
string_var2 = str()

was = string_var1
print("variable type:{} variable value:{}".format(type(was), was))

was = string_var2
print("variable type:{} variable value:{}".format(type(was), was))

variable type:<class 'str'> variable value:
variable type:<class 'str'> variable value:

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [33]:
string_var_basic = "something ` ' something\t\ttab"
string_var_raw = r"something ` ' something\t\ttab"
string_var_converted_to_raw = repr(string_var_basic)

print(string_var_basic)
print(string_var_raw)
print(string_var_converted_to_raw)

something ` ' something		tab
something ` ' something\t\ttab
"something ` ' something\t\ttab"

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [34]:
Surname_str = "Shevchenko"
formated_str = "My surname is {}".format(Surname_str)
print(formated_str)

My surname is Shevchenko

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [48]:
dog_string =  "My dog is crazy."
dog_string_in_list = dog_string.replace(".", " ").split()
print(dog_string_in_list)

['My', 'dog', 'is', 'crazy']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [56]:
list_variable1 = []
list_variable2 = [1, 2, 3, 4, 5]
list_variable3 = list()
list_variable4 = list("12345")
list_variable5 = [i for i in range(5)]
list_variable6 = [5]*5
list_variable7 = []
list_variable7.append(1)
list_variable7.append(2)
list_variable7.append(3)
list_variable7.append(4)
list_variable7.append(5)

print(list_variable1)
print(list_variable2)
print(list_variable3)
print(list_variable4)
print(list_variable5)
print(list_variable6)
print(list_variable7)

print(len(list_variable2))

[]
[1, 2, 3, 4, 5]
[]
['1', '2', '3', '4', '5']
[0, 1, 2, 3, 4]
[5, 5, 5, 5, 5]
[1, 2, 3, 4, 5]
5

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [57]:
first_list = [1, 2, 3, 4, 5]
second_list = [6, 7, 8, 9, 10]
print(first_list)
first_list.append(second_list)
print(first_list)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, [6, 7, 8, 9, 10]]

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [58]:
lists_in_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12], [13, 14, 15]]
print(lists_in_lists[-1][0])

13

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [63]:
poly_list = [100, 1.1, "str", [1, 23, 4], True, (1, 2, 3), {1, 2, 3}, 'a', -0.00000000000000001, False]
print(poly_list)
cutted_list = poly_list[2:-2]
print(cutted_list)

[100, 1.1, 'str', [1, 23, 4], True, (1, 2, 3), -222, 'str2', -1e-17, False]
['str', [1, 23, 4], True, (1, 2, 3), -222, 'str2']

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [77]:
tuple_variable1 = (1,)
tuple_variable2 = tuple([1])
print(tuple_variable1)
print(type(tuple_variable1))
print(tuple_variable2)
print(type(tuple_variable2))

(1,)
<class 'tuple'>
(1,)
<class 'tuple'>

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

Схожість у структурі: послідовність елементів до яких можна доступитися по індексу. Але кортежі на відміну від списків є незмінними. Масиви використовуємо коли потрібно активно змінювати значення й кількість значень послідовності, а кортежі потрібні коли потрібно передати дані як константи

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [72]:
tuple_variable1 = (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3)
tuple_variable2 = tuple_variable1[::-2]
print(tuple_variable2)

(0.3, 8.3, 6.3, 4.3, 2.3)

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [81]:
set_variable = set()
set_variable.add(1)
set_variable.add("abc")
local_var = 123
set_variable.add(local_var)
local_var = 321
print(set_variable)
print(type(set_variable))

{1, 123, 'abc'}
<class 'set'>

В сеті не можна змінити додане значення але можна видалити елементи та додати нові

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [82]:
my_list = [1, 1, 2, 67, 67, 8, 9]
set_from_list = set(my_list)
print(set_from_list)

{1, 2, 67, 8, 9}

"зникли" елементи бо в сет зберігає лише факт входження певного елементу тому він не зберігає повторення

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [83]:
set_1 = {1, 2, 3, 4, 5}
set_2 = {4, 5, 6, 7, 8}

union_set = set_1.union(set_2)
difference_set = set_1.difference(set_2)
intersection_set = set_1.intersection(set_2)
symmetric_difference_set = set_1.symmetric_difference(set_2)

print(union_set)
print(difference_set)
print(intersection_set)
print(symmetric_difference_set)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3}
{4, 5}
{1, 2, 3, 6, 7, 8}

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [86]:
dict_variable = {11: "11", False: True, (2, 3): 4, "key": 5}

Список не може бути ключем оскільки він може змінюватися та не хешується (помилка при спробі)

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [88]:
dict_inception = {"dict1": {"dict2": {"not dict": [1, 2, 3], "boolean": True, 123: "123"}, "boolean": True, 123: "123"}, "boolean": True, 123: "123"}
print(dict_inception["dict1"]["dict2"])

{'not dict': [1, 2, 3], 'boolean': True, 123: '123'}

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.